// font families
$font-ubuntu: "Ubuntu", sans-serif;
$font-roboto: "Roboto", sans-serif;
$font-opensans: "Open Sans", sans-serif;
$font-bebasneue: "Bebas Neue", sans-serif;
$font-firesans: "Fira Sans Condensed", sans-serif;
$font-courgette: "Courgette", sans-serif;
$font-anton: "Anton", sans-serif;
$font-carterone: "Carter One", sans-serif;
$font-bowlby: "Bowlby One SC", sans-serif;
$font-dmsans: "DM Sans", sans-serif;
$font-archivo: "Archivo Black", sans-serif;
$font-fugaz: "Fugaz One", sans-serif;
$font-pragati: "Pragati Narrow", sans-serif;
$font-abril: "Abril Fatface", sans-serif;
